.base {
  $navy: #292a3d;

  width: 252px;
  height: 100%;
  overflow: hidden;
  border: 2px solid $navy;
  border-radius: 8px;

  .content {
    display: flex;
    flex-direction: column;
    max-height: 100%;

    .title {
      $height: 48px;

      height: $height;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      font-weight: 800;
      line-height: $height;
      color: #ffffff;
      text-align: center;
      background-color: $navy;
    }

    .cardsWrapper {
      padding: 8px;
      overflow-y: auto;

      .cardWrapper + .cardWrapper {
        margin-top: 8px;
      }
    }
  }
}
