$navy: #292a3d;
$width: 100%;
$height: 16px;

.wrapper {
  display: inline-flex;
  align-items: center;
  width: $width;
  height: 36px;
  padding: 0 4px;
  font-family: 'Nunito', sans-serif;
  font-size: $height;
  background-color: #ffffff;
  border: 2px solid $navy;
  border-radius: 8px;
}

.base {
  width: $width;
  height: $height;
}
