@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.base {
  display: flex;
  height: 100%;
  white-space: nowrap;

  .listWrapper {
    height: 100%;
  }

  .listWrapper + .listWrapper {
    margin-left: 16px;
  }

  .inputWrapper {
    width: 252px;
    margin-left: 16px;
  }
}
