@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

.base {
  height: 100%;
  white-space: nowrap;

  .listWrapper {
    display: inline-block;
    height: 100%;
  }

  .listWrapper + .listWrapper {
    margin-left: 16px;
  }
}
